@import url("https://fonts.googleapis.com/css2?family=Rock+Salt&family=Lato&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-image: linear-gradient(
    0deg,
    rgba(247, 247, 247, 1) 23.8%,
    rgba(252, 221, 221, 1) 92%
  );
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Lato", sans-serif;
}

h1 {
  padding-top: 2.5rem;
  color: #333;
  font-family: "Rock Salt", cursive;
  font-size: 1.5rem;
  letter-spacing: 5px;
  text-align: center;
}

.contollers-container {
  margin: 15px auto;
}

.scetch-container {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  width: 430px;
  height: 430px;
  border: 1px dotted rgba(0, 0, 0, 0.2);
  margin: 20px auto;
  padding: 1px;
}

button {
  padding: 10px 13px;
  margin: 10px 20px;
  font-size: 16px;
  border: 0;
  background-color: rgba(241, 164, 164, 0.8);
  border-radius: 2px;
  color: rgba(0, 0, 0, 0.7);
  cursor: pointer;
}

button:hover {
  background-color: rgba(243, 182, 182, 0.5);
}

button:focus {
  outline: 0;
}

button:active {
  transform: scale(0.98);
  transition: scale 0.3 ease-out;
  color: rgba(0, 0, 0, 0.5);
}

.pixel {
  border: 1px dotted rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 221, 221, 0.3);
}

/* Message box */
.message-box {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 7rem;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(243, 182, 182, 0.7);
}

.message-box-content {
  display: flex;
  flex-direction: column;
  text-align: center;
  position: relative;
  width: 45%;
  padding: 20px;
  background-color: rgba(252, 221, 221, 1);
  margin: auto;
  border-radius: 3px;
  border: 1px solid rgba(243, 182, 182, 0.9);
  box-shadow: 2px 5px 7px rgba(0, 0, 0, 0.2);
}

.message {
  color: #777;
  margin: 20px;
}

form {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

input {
  width: 140px;
  height: 2rem;
  padding: 0 5px;
  border: 1px solid rgba(243, 182, 182, 0.2);
  border-radius: 3px;
  color: #777;
}

input:hover {
  border: 1px solid rgba(243, 182, 182, 0.7);
}

input:focus {
  outline: 0;
  border: 1px solid rgba(243, 182, 182, 1);
}

input:active {
  border: 1px solid rgba(243, 182, 182, 1);
}

label {
  font-size: 0.7rem;
  text-align: left;
  color: #777;
}

@media (max-width: 950px) {
  .message-box-content {
    width: 65%;
  }
}

@media (max-width: 750px) {
  .message-box-content {
    width: 75%;
  }
}

@media (max-width: 500px) {
  .scetch-container {
    width: 300px;
    height: 300px;
  }

  h1 {
    padding: 1.5rem auto;
    font-size: 1rem;
  }

  button {
    padding: 8px 13px;
    margin: 0 15px;
  }

  .message-box-content {
    width: 85%;
  }

  #form {
    display: flex;
    flex-direction: column;
  }

  input,
  button {
    width: 100%;
    margin: 10px auto;
  }
}
